<div class="editor-container">
  <ngx-codemirror #codemirror
                  class="codemirror"
                  [options]="codeMirrorOptions"
                  [(ngModel)]="code"
                  (ngModelChange)="setEditorContent($event)"
  >
  </ngx-codemirror>
  <button tuiIconButton
          appearance="icon"
          [icon]='tuiIconCopyLarge'
          (click)="copyCode()"
  >
  </button>
  <button tuiIconButton
          appearance="icon"
          [icon]='tuiIconDeleteLarge'
          (click)="clearCode()"
  >
  </button>
</div>
