.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}

.black {
  background: var(--tui-text-01) !important;
  color: var(--tui-base-01) !important;
}

.white {
  color: var(--tui-base-01);
}

.coursesItem {
  padding: 20px;
}

.coursesContainer {
  display: flex;
}

img {
  padding-left: 4rem;
  padding-top: 0.5rem;
  width: 8rem;
}

a {
  text-decoration: none;
}
