@import '@taiga-ui/core/styles/taiga-ui-local.less';

.wrapper {
  display: flex;
  align-items: center;
  box-shadow: none;
}

.navBar {
  width: 100%;
  height: 1000px;
  padding-top: 1rem;
  padding-left: 1rem;
}

.gray {
  box-shadow: none;
  background: var(--tui-base-02);
}
