@import '@taiga-ui/core/styles/taiga-ui-local.less';

tui-app-bar {
  .shadow(6);
  width: 100%;
  margin-bottom: 1rem;
}

.black {
  background: var(--tui-text-01);
  color: var(--tui-warning-fill-night);
}

.gray {
  box-shadow: none;
  background: var(--tui-base-02);
}

.white {
  color: var(--tui-base-01);
}

.coursesContainer {
  display: flex;
}

.mainContainer {
  display: flex;
}

.coursesItem {
  padding: 20px;
}

.wrapper {
  display: flex;
  align-items: center;
  box-shadow: none;
}

.navBar {
  width: 15%;
}
